


<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo" style="text-align:left;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">&nbsp;&nbsp;Clube do Bem&nbsp;&nbsp;</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>


        @*<div class="top-nav" align="right">

                <span> Sessão expira em: </span>
                <span id="defaultCountdown"></span>
            </div>*@

        <div class="navbar-custom-menu">
            
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">
                            @*@if (@Session["Nome"] != null)
                                {
                                    @Session["Nome"].ToString();
                                }*@
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">

                            <img src="" class="img-circle" alt="User Image">
                            <p>

                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">

                                <a href="@Url.Action("Logar", "Login")" class="btn btn-default btn-flat">Logoff</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--li>
                  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li-->
            </ul>
        </div>
        <div class="col-lg-9" style="text-align:right; vertical-align: middle;">

            <span style="color:#fff"> Sessão expira em: </span>
            <span id="defaultCountdown" style="color:#fff"></span>

        </div>


    </nav>
</header>
