<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo" style="text-align:left;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/Content/images/amigosDoBem.png" style="height:50px; width:50px;" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/Content/images/amigosDoBem.png" style="height:50px; width:50px;" /> Clube do Bem</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav ml-auto">
                @*<li class="nav-item">
                        <span class="nav-link"> Sessão expira em: </span>
                        <span id="defaultCountdown" class="nav-link small"></span>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link m-0 p-0">
                        <div class="text-center">
                            <i class="fa fa-user"></i>
                            <span>Ayslan Aragão</span>
                            <br />
                            <span class="text-sm"> Sessão expira em: </span>
                            <span id="defaultCountdown" class="text-sm"></span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#modalSair" href="#"><i class="fa fa-sign-out"></i> Sair</a>
                </li>

            </ul>
        </div>


    </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="modalSair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sair da Aplicação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja sair da aplicação?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Desconectar", "Base")'" >Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>