@{
    ViewBag.Title = "Clube do Bem";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="col-lg-4 pull-left"><h3>Planilha Financeira <small>Visão Geral</small></h3></div>
        <div class="col-lg-2 pull-right"></div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-2">
                <select class="form-control" name="tipoFiltro" id="tipoFiltro">
                    <option value="0">Por Id</option>
                </select>
            </div>

                <div class="col-lg-4">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="filtro" name="filtro" placeholder="Escolha seu tipo de filtro e pesquise aqui..." autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" id="filtro-btn">
                                Filtrar...
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </div>
        }
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                  
                    <div class="row">

                        <div class="col-sm-12">
                            <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 99px;">Nome</th>
                                        <th class="sorting_desc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" aria-sort="descending" style="width: 171px;">Status</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Valor</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Forma</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 69px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 69px;">Mes</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 69px;">Ano</th>

                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="">Mário Fernando</td>
                                        <td class="sorting_1">Pago</td>
                                        <td>R$ 10,00</td>
                                        <td>Dinheiro</td>
                                        <td>10/06/2018</td>
                                        <td>Junho</td>
                                        <td>2018</td>

                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="">Pedro</td>
                                        <td class="sorting_1">Aberto</td>
                                        <td>R$ 0,00</td>
                                        <td></td>
                                        <td></td>
                                        <td>Junho</td>
                                        <td>2018</td>

                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="">Dayse</td>
                                        <td class="sorting_1">Pago</td>
                                        <td>R$ 10,00</td>
                                        <td>Bradesco</td>
                                        <td>12/06/2018</td>
                                        <td>Junho</td>
                                        <td>2018</td>

                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="">Maria</td>
                                        <td class="sorting_1">Pago</td>
                                        <td>R$ 10,00</td>
                                        <td>Caixa</td>
                                        <td>10/06/2018</td>
                                        <td>Junho</td>
                                        <td>2018</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
</div>

